site_name: Citronus API
site_description: Citronus Trading API (JSON-RPC + WebSocket)
site_url: https://denislet.github.io/api_docs_test/
copyright: "© Citronus"

theme:
  name: material
  language: en
  features:
    - navigation.top
    - content.code.copy
    - content.code.select
    - search.suggest
    - search.highlight
    - toc.integrate

nav:
  - Overview: index.md
  - Playground: playground.md

plugins:
  - search
  - i18n:
      docs_structure: suffix
      languages:
        - locale: en
          name: English
          default: true
        - locale: ru
          name: Русский
          nav_translations:
            Overview: Обзор
            Playground: Песочница

extra_javascript:
  - playground.js
